In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
#Store the csv you saved created in part one into a dataframe 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Castro,-24.7911,-50.0119,55.26,92,0,3.74,BR,2022-04-20 01:57:49
1,1,Vaini,-21.2000,-175.2000,78.96,89,100,8.05,TO,2022-04-20 01:56:35
2,2,Busselton,-33.6500,115.3333,64.56,56,3,10.11,AU,2022-04-20 01:59:04
3,3,Sao Jose Da Coroa Grande,-8.8978,-35.1478,77.58,86,21,6.49,BR,2022-04-20 02:05:25
4,4,Comodoro Rivadavia,-45.8667,-67.5000,55.54,46,76,15.99,AR,2022-04-20 02:03:01

In [3]:
#Configure gmaps to use Google API key 
gmaps.configure(api_key=g_key)

In [4]:
#Syntax for making heatmap

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

SyntaxError: invalid syntax (1368964046.py, line 6)

In [8]:
#Get the maximum temperature 

max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    temps.append(max(temp,0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#Add a center and zoom level 
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Heatmap of percent humidity 
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#Heatmap of percent cloudiness 
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#Ask the customer to add a minimum and maxiumum temperature value 

min_temp = float(input("What is the minimum temperature you would like for your trip"))

max_temp = float(input("What is the maximum temperature you would like for your trip"))

What is the minimum temperature you would like for your trip75
What is the maximum temperature you would like for your trip90

In [25]:
#Filter the dataset to find the cities that fit the criteria 

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Vaini,-21.2000,-175.2000,78.96,89,100,8.05,TO,2022-04-20 01:56:35
3,3,Sao Jose Da Coroa Grande,-8.8978,-35.1478,77.58,86,21,6.49,BR,2022-04-20 02:05:25
14,14,Rikitea,-23.1203,-134.9692,77.50,76,2,14.97,PF,2022-04-20 01:56:31
17,17,Bagotville,-28.9833,153.4167,82.63,66,1,10.45,AU,2022-04-20 02:05:28
20,20,Avarua,-21.2078,-159.7750,78.85,78,100,8.05,CK,2022-04-20 01:57:48
22,22,Cabinda,-5.5500,12.2000,75.18,96,100,7.52,AO,2022-04-20 02:05:30
24,24,Kapaa,22.0752,-159.3190,77.32,78,20,18.41,US,2022-04-20 01:51:42
26,26,Porto Velho,-8.7619,-63.9039,75.25,94,75,1.14,BR,2022-04-20 02:05:31
29,29,Jizan,17.3333,42.6667,83.48,55,5,2.91,SA,2022-04-20 02:05:32
32,32,Kuala Terengganu,5.3302,103.1408,81.00,81,100,0.98,MY,2022-04-20 02:05:33

In [26]:
#see if there are null values
preferred_cities_df.count()

City_ID       172
City          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
Country       172
Date          172
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
1                      Vaini      TO     78.96 -21.2000 -175.2000
3   Sao Jose Da Coroa Grande      BR     77.58  -8.8978  -35.1478
14                   Rikitea      PF     77.50 -23.1203 -134.9692
17                Bagotville      AU     82.63 -28.9833  153.4167
20                    Avarua      CK     78.85 -21.2078 -159.7750
22                   Cabinda      AO     75.18  -5.5500   12.2000
24                     Kapaa      US     77.32  22.0752 -159.3190
26               Porto Velho      BR     75.25  -8.7619  -63.9039
29                     Jizan      SA     83.48  17.3333   42.6667
32          Kuala Terengganu      MY     81.00   5.3302  103.1408

In [28]:
#Set parameters to search for a hotel 
params = {
    "radius":5000,
    "type":"lodging",
    "key":g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))